body {
  background: silver;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-top: 20px;
}

input {
  padding: 8px;
  margin: 10px 0;
  width: 70%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  background: #f1f5f9;
  padding: 10px;
  border-radius: 8px;
}

li button {
  background: red;
  color: white;
  border: none;
  cursor: poiner;
}

.card {
    padding: 20px;
    border: solid black;
    border-radius: 15px;
    background-color: antiquewhite;
    box-shadow: 6px 6px 15px rgba(0,0,0,1);
    text-align: center;
    width: 250px;
    min-height: 300px;
    margin: 20px;

}
